.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  width:877px;
  height:877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  animation: rotation 20s linear  infinite normal;
}

@keyframes rotation {
  forom{transform: rotate(0deg); }
  to{transform: rotate(360deg); }
}
