.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}
/*header*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  width:183px;
}

.logo_place_header {
  position:absolute;
  left: 64px;
  top: 30px;
  z-index:2;
  height:32px;
  background-image: url(/images/logo_place_header.svg);
}

.header__title {
  max-width:730px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  max-width:388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
color: #2f80ed;
}

.header___main-illustration {
  height:608px;
  width: 765px;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  background-color:  #2f80ed;
  height: 568px;
  width: 568px;
  position:absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

/*content*/

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin:100px auto;
}

.two-columns__brief {
  max-width:175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin:0;
}

.two-columns__main-text {
  width: 80%;
  margin: 0;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  list-style-type: none;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/*digits*/

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-align:center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0;
  text-align:center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  max-width: 1190px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top:60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.12;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}

/*feynman*/

.feynman {
  height:890px;
  position: relative;
  background-color: #f2f2f2;
  margin-top: 100px;
}

.feynman__title {
  position: relative;
  margin:0 auto 70px;
  padding-top: 100px;
  width: 648px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight:700;
  text-align: center;
  z-index:1;
}

.feynman__subtitle {
  position: relative;
  margin: 0 auto;
  text-align: center;
  line-height:51px;
  font-size: 36px;
  font-weight:normal;
  z-index: 1;
}

.feyman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin:0;
  position: absolute;
  right: 48px;
  top: 51%;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__feyman-picture {
  max-width:867px;
  max-height: 636px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

/*kaufman*/

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table__kaufman {
  width: 200px;
  padding: 0;
  position: relative;
  margin: 80px 0 0;
}

.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  background-size: cover;
  width:877px;
  height:877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

/*footer*/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  color: white;
  padding: 60px 0 40px;
}

.footer__columns {
   margin: 0 auto;
   display: flex;
   width: 90%;
   justify-content: space-between;
}

.footer__column {}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
background-image: url(/images/logo_place_footer.svg);
background-size: cover;
height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  justify-items: end;
}
.footer__column_content_info {}

.footer__column_content_social {}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  padding: 0;
  list-style-type: none;
  margin: 20px 0 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 16px;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

